.explore-content {
  --background: var(--color-bg-main);
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    
    .stat-item {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        color: var(--color-text-muted);
        
        ion-icon {
            font-size: 20px;
            color: var(--ion-color-primary);
        }
    }
}

.section {
    margin-bottom: 32px;
}

.section-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

.card-grid {
    display: grid;
    gap: 16px;
    justify-content: center;
    
    /* Mobile */
    grid-template-columns: repeat(2, 1fr);
}

/* Tablet */

.white-card {
    background: var(--color-bg-card);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    height: fit-content;
    cursor: pointer;
    
    img {
        width: 100%;
        height: 120px;
    }

    &:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 14px 36px rgba(0, 0, 0, 0.14);
  }
}

.white-card :hover img{
    transform: scale(1.08);
}

ion-toolbar{
    --background: none;
}

.card-label {
    background: var(--text-bg);
    bottom: 0;
    padding: 8px;
    font-weight: 600;
    font-size: 14px;
    color:var(--color-text-secondary);
}

// flag section

.country-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(54px, 1fr));
    gap: 12px;
    justify-items: center;
}

.country-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width:54px;
}

.country-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.country-flag {
    width:54px;
    height: 34px;
}

.country-name {
    font-size: 12px;
    font-weight: 600;
    color:var(--ion-color-primary);
    margin-top: 5px;
}

// alphabet

.alphabet-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.alphabet-chip {
    font-weight: 600;
    cursor: pointer;
    color:var(--ion-color-primary)
}

/* Tablet */
@media (min-width: 768px) {
    .page-wrapper {
    padding-left: 48px;
    padding-right: 48px;
  }

    .card-grid {
        grid-template-columns: repeat(3, 160px);
    }
}

/* Desktop */
@media (min-width: 1024px) {
  .page-wrapper {
    padding-left: 96px;
    padding-right: 96px;
  }

  .card-grid {
      grid-template-columns: repeat(6, 160px);
  }
}
