
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button fallbackHref="/home"></ion-back-button>
    </ion-buttons>
    <div>
    <ion-avatar>
      <img src="../../../assets/icon/logo.png" alt="">
    </ion-avatar>
      <ion-title class="ion-no-padding"> Let's Cook </ion-title>
    </div>
      <ion-buttons slot="end">
        <ion-button (click)="onShare()">
          <ion-icon slot="icon-only" name="share-social-outline" color="warning"></ion-icon>
        </ion-button>
      <!-- GUEST -->
      @if(isLoggedIn === false){
       <ion-button (click)="signUp()">
        <ion-icon slot="icon-only" name="enter-outline" color="primary"></ion-icon>
      </ion-button>
       }

      <!-- LOGGED IN -->
       @if(isLoggedIn){
       <ion-button color="primary" (click)="openMenu()">
         <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
        }
     </ion-buttons>  
  </ion-toolbar>
