.auth-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 24px;
  --padding-bottom: 16px;
}

.auth-form {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ion-toolbar{
  --background: transparent;
}

.auth-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
  text-align: center;
}

.auth-subtitle {
  font-size: 14px;
  color: var(--color-text-muted);
  margin-bottom: 24px;
  text-align: center;
}

ion-input{
    margin-bottom: 8px;
}

.error-text {
  font-size: 12px;
  color: #ff4d4f;
  margin: 4px 4px 12px;
}

.flex-spacer {
  flex: 1;
}

.signup-btn {
  margin-top: 8px;
  margin-bottom: 0;
}

.auth-footer-text {
  font-size: 14px;
  color: var(--color-text-muted);
  text-align: center;

  a{
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
  }
}