<!-- <div class="random-meal-section">
  <h2 class="section-title">Featured Meal</h2> -->

  @if(randomMeal?.length){

  <div class="scratch-wrapper">

   
    <ion-card class="meal-card">
      <!-- <img
        [src]="randomMeal[0].strMealThumb"
        class="meal-image"
      /> -->

      <ion-card-header>
        <ion-card-title class="meal-name">
          <!-- {{ randomMeal[0].strMeal }} -->
            hiiiiii
            hiiiiiihiii
            hiii
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="chips-container">
          <ion-chip class="meal-chip custom-chip-primary">
            <!-- {{ randomMeal[0].strCategory }} -->
          </ion-chip>
          <ion-chip class="meal-chip custom-chip-secondary">
            <!-- {{ randomMeal[0].strArea }} -->
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>

   
    <canvas
      #scratchCanvas
      width="420"
      height="500"
      (mousedown)="startScratch($event)"
      (mousemove)="scratch($event)"
      (mouseup)="stopScratch()"
      (touchstart)="startScratch($event)"
      (touchmove)="scratch($event)"
      (touchend)="stopScratch()">
    </canvas>

  </div>
  }

  <!-- <ion-button
    fill="solid"
    color="primary"
    (click)="getDetailsOfRandomMeal(randomMeal[0].idMeal)">
    Let's Cook
  </ion-button>
</div> -->

<!-- <div class="scratch-container">
  <div class="reward">
    🎁 You Won ₹100 Cashback
  </div>

  <canvas
    #scratchCanvas
    width="300"
    height="150"
    (mousedown)="startScratch($event)"
    (mousemove)="scratch($event)"
    (mouseup)="stopScratch()"
    (touchstart)="startScratch($event)"
    (touchmove)="scratch($event)"
    (touchend)="stopScratch()">
  </canvas>
</div> -->
