 <ion-menu contentId="main-content" side="end">
      <ion-content>
        <div class="menu-wrapper">
          <ion-item lines="none">
            <ion-icon name="person-circle-outline" size="large" color="primary"></ion-icon>
            <ion-label> <strong>{{userName}}</strong></ion-label>
          </ion-item>
          <ion-menu-toggle>
           <ion-item routerLink="/">
            <ion-icon name="home-outline" size="small" color="primary"></ion-icon>
            <ion-label class="label">Home</ion-label>
           </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
          <ion-item routerLink="/explore-meals">
            <ion-icon name="apps-outline" size="small" color="primary"></ion-icon>
            <ion-label class="label">Explore Meals</ion-label>
          </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
           <ion-item 
           routerLink="/catalog"  
           [queryParams]="{ pageName: 'categories' }">
            <ion-icon name="grid-outline" size="small" color="primary"></ion-icon>
            <ion-label class="label">Categories</ion-label>
           </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
           <ion-item 
           routerLink="/catalog"  
           [queryParams]="{ pageName : 'ingredients' }">
             <ion-icon name="fast-food-outline" size="small" color="primary"></ion-icon> 
             <ion-label class="label">Ingredients</ion-label>
           </ion-item>
          </ion-menu-toggle>
      
        <div class="menu-bottom">
         <ion-menu-toggle>
          <ion-item button color="danger" (click)="logout()">
           <ion-icon name="log-out-outline" slot="start"></ion-icon>
           <ion-label class="label">Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>  
       </div>
    </div>
   </ion-content>
 </ion-menu>
