.menu-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-bottom {
  margin-top: auto; 
}

ion-label{
  margin-bottom: 5px
}

ion-icon{
  margin-right: 8px
}
 

.label{
  font-size: var(--fs-small);
}

 @media(max-width: 768px){
  .label{
    font-size: var(--fs-smaller);
  }
 }
 
