<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content fullscreen="true">

  <div class="page-wrapper">
  <!-- Search Bar -->
  <div class="search-container">
    <ion-searchbar color="warning" placeholder="Search..." debounce="300"
      show-clear-button="focus" [(ngModel)]="searchTerm" animated="true"></ion-searchbar>
  </div>

  <section>
    @if(categories.length>0){
    <h2 class="section-title">All Categories</h2>
    }
    @if(ingredients.length>0){
    <h2 class="section-title">All Ingredients</h2>
    }
    @if (meals && meals.length > 0) {
    <h2 class="section-title">All Meals</h2>
    }
  </section>

  <!-- Catalog Grid -->
 @if(isLoading){
  <div class="skeleton-grid"></div>
   @for( i of [1,2,3,4,5,6]; track i){
     <div class="skeleton-card"></div>
   }
    }
  <!-- Category cards -->
  @if(categories.length>0 || ingredients.length>0 || (meals && meals.length > 0)){
  <div class="catalog-grid">
   
    @for (category of filteredCategories; track category) {
    <ion-card class="catalog-card" (click)="getCategoryMeals(category.strCategory)">
      <div class="image-wrapper">
        <img [src]="category.strCategoryThumb" [alt]="category.strCategory" />
        <div class="overlay"></div>
      </div>

      <div class="catalog-info">
        <h3 class="catalog-name">{{ category.strCategory }}</h3>
      </div>
    </ion-card>
    }

   <!-- Ingredient cards -->
    @defer(when filteredIngredients) {
     @for (ingredient of filteredIngredients; track ingredient) {
     <ion-card class="catalog-card" (click)="getIngredientMeal(ingredient.strIngredient)">
      <div class="image-wrapper">
        <img [src]="ingredient.strThumb" [alt]="ingredient.strIngredient" />
        <div class="overlay"></div>

      </div>
      <div class="catalog-info">
        <h3 class="catalog-name">{{ ingredient.strIngredient }}</h3>
      </div>
     </ion-card>
    }
  }
    <!-- Meal cards -->
    @defer(when filteredMeals) {
    @for (meal of filteredMeals; track meal) {
    <ion-card class="catalog-card" (click)="getDetailsMeal(meal.idMeal)">
      <div class="image-wrapper">
        <img [src]="meal.strMealThumb" [alt]="meal.strMeal" />
        <div class="overlay"></div>
      </div>
      <div class="catalog-info">
        <h3 class="catalog-name">{{ meal.strMeal }}</h3>
      </div>
    </ion-card>
    }
  }
  </div>
  }
  <div>

    @if( filteredCategories.length === 0 &&
  filteredIngredients.length === 0 &&
  filteredMeals.length === 0){
    <div class="no-results">
      <p>No data found !!</p>
    </div>
    }
  </div>
  </div>
</ion-content>
<app-footer></app-footer>