/* Search bar */
.search-container {
  display: flex;
  justify-content: center;
  padding: 16px 16px 8px;

  ion-searchbar {
    max-width: 520px;
    width: 100%;
    --box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  }
}

.section-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

/*Grid*/

.catalog-grid {
  display: grid;
  gap: 16px;
  justify-content: center;

  /* Mobile */
  grid-template-columns: repeat(2, 1fr);

  /* Tablet */
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 180px);
  }

  /* Desktop / Web */
  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 180px);
  }
}

.catalog-card {
  --background: rgba(122, 122, 122, 0.487);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  height: max-content;

  &:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 14px 36px rgba(0, 0, 0, 0.14);
  }
}

/* Image section */
.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.45)
    );
  }
}

.catalog-card:hover img {
  transform: scale(1.08);
}

/* Text section */
.catalog-info {
  background: #ffd54f;
  padding: 12px 8px;
  text-align: center;
}

.catalog-name {
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  margin: 0;
  letter-spacing: 0.3px;
}
