/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '@ionic/angular/css/palettes/dark.system.css';
@import '../src/theme/variables.scss';
@import '../src//theme/size.scss';



ion-chip.custom-chip-primary {
  --background: rgb(255, 110, 110);
  --color: rgb(25, 25, 25);
}

ion-chip.custom-chip-secondary{
    --background:rgb(187, 133, 249);
    --color: rgb(25, 25, 25);
}

.page-content {
  --padding-top: 60px;   // header height
  --padding-bottom: 70px; // footer height
}

.page-wrapper {
  padding: 16px;        // mobile first
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1200px; 
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;    
}

.my-green-toast {
  --background: rgb(0, 74, 0);
  --color: white;
  --border-radius: 12px;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.my-red-toast{
  --background: linear-gradient(135deg, rgb(246, 35, 35), rgb(238, 0, 0));
  --color: white;
  --border-radius: 12px;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}