<ion-header>
  <ion-toolbar>
    <ion-title>Share</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" class="url-box">
    <ion-label class="ion-text-wrap">{{ url }}</ion-label>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="copyLink()">
    Copy Link
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="nativeShare()">
    Share
  </ion-button>

</ion-content>
